@tailwind base;
@tailwind components;
@tailwind utilities;

@media print {
  body * {
    visibility: hidden !important;
  }

  #print-area, #print-area * {
    visibility: visible !important;
  }

  #print-area {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}
